@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto_bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}


* {
    font-family: Roboto;
    box-sizing: border-box;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background-color: #071319;
}


.main_container {
    width: 100%;
    max-width: 1710px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_container{
    width: 100%;
    height: 45px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
}

.nav-buttons_container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #def2f1;
    font-family: Roboto_Bold;
}

.nav_button {
    position: relative;
    display: flex;
}

.nav_button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px; 
    width: 100%;
    height: 3px; 
    border-radius: 3px;
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

.nav_button:hover #themes_window{
    display: block;
}

.nav_button:hover::after {
    background-color: #def2f1; 
}

.main_window {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
}

.left_list {
    width: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding-bottom: 20px;
}


.left_list::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
}

.left_list::-webkit-scrollbar-thumb {
    background-color: #8ef671; 
    border-radius: 5px;
}

.left_list::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.questions_section {
    height: 600px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image-logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-logo-container img{
    width: 300px;
    height: 300px;
}

.question_window {
    margin-top: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: relative;
}

.question_text{
    color:#f2f2f2;
    width: 90%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.question_window img {
    width: 900px;
    height: 100px;
    position: absolute;
    z-index: -1;
}

.answers_box {
    width: 900px;
    box-sizing: border-box;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

}

.ans_letter{
    position: absolute;
    top: 12px;
    left: 25px;
    font-size: 20px;
    color: rgb(255, 187, 0);
    font-weight: 600;
}

#question_number{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    z-index: 0;
    color: #ffffff;
}

.ans_text{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.answer_button {
    margin-top: 10px;
    width: 430px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
	color: #f2f2f2;
    background-image: url('../img/default.png');
    background-size: contain;
}

.hoverable:hover{
    background-image: url('../img/selected.png');
}

.hoverable:hover .ans_letter{
    color: #ffffff;
}

.hoverable:hover .ans_text{
    color: #000000;
}

.questionList-sublist, .themes_root {
    list-style-type: none;
}

.questionElement {
    color: blue;
}

.questionElement:hover {
    color: orangered;
}

#themes_window {
    padding-right: 20px;
    top: 45px;
    display: none;
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 500px;
    background-color: #1d4a60;
    border-radius: 15px;
}

.themes_tab{
    position: relative;
}

#themes_in_window, 
.questions_left_list {
    color: rgb(255, 187, 0);
    list-style-type: none;
}

.theme_element {
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid rgb(255, 187, 0);
}

.questions_left_list {
    display: flex;
    flex-direction: column-reverse;
}

.question_element {
    flex: 0 0 auto;
    font-weight: bold;
}

.question_current {
    color: #ffffff;
}

.correct {
    background-image: url(../img/correct.png);
}

.wrong {
    background-image: url(../img/wrong.png);
}

#next_button {
    position: absolute;
    z-index: 2;
    top: 670px;
}
